<h1>Stupid Coaching</h1>

<form action="/answer">
  <input type="text" name="question">
  <input type="submit" value="Ask!">
</form>


<!-- If you don't remember about the coach (poor) logic, here it is:

If the message is I am going to work, the coach will answer Great!
If the message has a question mark ? at the end, the coach will answer Silly question, get dressed and go to work!.
Otherwise she/he will answer I don't care, get dressed and go to work! -->
